﻿#header {
	background-image: none, linear-gradient(to bottom, #F6F6F6 0, #EAEAEA 100%);
	background-position: 50% 50%;
	border-radius: 5px;
	padding: 2px;
}

.loginHeader {
	color: #2E2E2E;
	font-weight: bold;
}

#login {
	background-image: url("/Content/images/meiologin.png");
	float: left;
	height: 106px;
	margin-top: -53px;
	margin-left: 0;
	position: absolute;
	top: 50%;
	width: 100%;
	left: 0;
}

#loginForm {
	border: 1px solid #C5C5C5;
	background-color: #E3E3E3;
	float: left;
	left: 50%;
	margin-left: -135px;
	margin-top: -215px;
	position: absolute;
	top: 50%;
	width: 270px;
	height: 380px;
	border-radius: 5px;
}

.logoMenor {
	margin-top: 20px;
}

form label {
	font-weight: bold;
}
