﻿.header {
	width: 100%;
	height: 35px;
	padding-left: 5px;
	padding-right: 5px;
	background-image: url("/Content/images/barraSuperior.png");
	left: 0;
	margin-left: 0;
}

.menuSuperior {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	height: 35px;
	text-align: center;
	overflow: visible;
	max-width: 40px;
}

	.menuSuperior:hover {
		background-image: url("/Content/images/barraSuperiorMarcada.png");
		display: inline-block;
	}

	.menuSuperior a {
		background-image: url("/Content/images/iconeMenu.png");
		background-position: center center;
		background-repeat: no-repeat;
		display: inline-block;
		height: 35px;
		width: 40px;
	}

.menuVisivel {
	float: left;
	border: 1px solid black;
	z-index: 100;
	margin-top: 0px;
	display: block;
	width: 300px;
	padding: 5px;
}

	.menuVisivel a {
		background-image: none;
		width: auto;
		height: auto;
	}

.menuUsuario {
	background-image: none, linear-gradient(to bottom, #F6F6F6 0px, #EAEAEA 100%);
	background-position: 50% 50%;
	line-height: 2.34em;
	color: #2E2E2E;
	font-weight: bold;
}

#menuOpcoes .accordion {
	background-image: none, linear-gradient(to bottom, #F6F6F6 0px, #EAEAEA 100%);
	background-position: 50% 50%;
}

#menuOpcoes .accordion-heading {
	font-weight: bold;
	text-align: left;
	color: #2E2E2E;
	border: none;
}

	#menuOpcoes .accordion-heading a {
		text-decoration: none;
	}

		#menuOpcoes .accordion-heading a:hover {
			text-decoration: none;
		}

#menuOpcoes ul {
	list-style: none;
	text-align: left;
	background-image: none, linear-gradient(to bottom, #F6F6F6 0px, #EAEAEA 100%);
	background-position: 50% 50%;
	cursor: pointer;
	margin-left: 25px;
	margin-right: 10px;
}

#menuOpcoes .accordion-inner {
	padding: 5px;
}

#menuOpcoes ul li {
	
	/*padding-right: 10px;*/
	
	padding-top: 5px;
	padding-bottom: 0;
	width: 100.0%;
	height: 30px;
	margin: 0;
}

	#menuOpcoes ul li:hover {
		/*border: 1px solid red;*/
		font-weight: bold;
	}


.logoBarraSuperior {
	background-image: url("/Content/images/iconeNeuroCloud.png");
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 35px;
	width: 185px;
	padding-left: 6px;
}
