﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>NeuroCloud - Autenticação</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/Home.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-2.0.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <div class="container-fluid">
        <div id="login">
            <div id="loginForm" class="row-fluid loginHeader">
                @*<div id="header" class="row-fluid">
                    <span class="loginHeader">NeuroCloud</span>
                </div>*@
                <div class="row-fluid">
                    <div class="row-fluid" style="margin-bottom: 20px;">
                        <p class="text-center logoMenor">
                            <img src="~/Content/images/logoMenor.png" />
                        </p>
                    </div>
                    <form action="/NeuroCloud/" method="POST">
                        <div class="row-fluid offset1">
                            <label>Usuário</label>
                            <input type="text" placeholder="Digite seu login...">

                            <label>Senha</label>
                            <input type="password" placeholder="Informe sua senha...">
                        </div>

                        <div class="row-fluid text-center" style="margin-top: 10px;">
                            <button type="submit" class="btn btn-success">Entrar</button>
                        </div>
                    </form>
                </div>
                <div class="row-fluid text-center">
                    <a href="javascript:void(0);">Esqueceu sua senha?</a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
